<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width:30%">Username</th>
                <th style="width:40%">Active role</th>
                <th style="width:30%">Username</th>
            </tr>
        </thead>
        <tbody>
            @for(user of users; track user.userName){
            <tr>
                <th>{{user.userName}}</th>
                <th>{{user.roles}}</th>
                <th><button (click)="openRolesModal(user)" class="btn btn-info">Edit role</button></th>
            </tr>
            }
        </tbody>
    </table>
</div>
